@use 'Variables';

.autocomplete {
  position: relative;
  display: inline-block;
  width: 300px;
  margin-right: 4px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;

  & div {
    padding: 10px;
    cursor: pointer;
    background-color: Variables.$grey;
    border-bottom: 1px solid #d4d4d4;
  }
  & div:hover {
    background-color: #e9e9e9;
  }
}
.autocomplete-active {
  background-color: Variables.$blue !important;
  color: #ffffff;
}